.container-fluid {
    background-image: url("./background1.jpg");
    width: inherit;
    height: inherit;
    background-size: contain;
    background-repeat: no-repeat;
}

p {
    text-align: center;
    font-size: ;
}
.row div {
    background-color:white;
    border: red 2px;
}